header{
  height: 120px;
  background-color: #D0D4D3;
}
.face_logo{
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
.face_logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

nav{
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  display: inline-block;
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.75em;
  color: #092939;


}
nav a:hover {
  background-color: #6E92A1;
  box-shadow: 8px 8px 2px #888888;
  border-radius: 5px;
  text-decoration: none;
}
a strong:hover {
  color: white;
  text-decoration: none;
}


.heading_text {
  font-size: 55px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}
.sub_heading_text{
  text-align: center;
  clear: both;
  position: relative;
  right: 140px;
  padding-top: 5px;
  font-weight: 600;
  letter-spacing: .05em;
}

.about-me-text{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
  font-size: 2em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.face-lockup {
  max-width: 780px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.face-image img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.github-icon img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.codepen-icon img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.freecodecamp-icon img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.twitter-icon img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.face-image {
  order: 3;
}
.github-icon{
  order:1;
}
.codepen-icon{
  order: 2;
}
.freecodecamp-icon{
  order: 4;
}
.twitter-icon{
  order: 5;
}
.blurb {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  margin: 55px auto 75px;
}

.portfolio-lockup {

}

.portfolio-pics img{
  padding: 50px;
}

h2{ text-align:center; padding-top: 40px;
  color: white;}

section {
  background-color: #444648;
  max-width: 1024px;
  margin: 0 auto;
}

hr{
  margin-left: 100px;
  margin-right: 100px;
}

.contact{
  max-width: 500px;
  margin: 0 auto;
  background-color: #A2A2A4;
}

.form-group{
  padding: 3px;
}
